<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d176f7">  <td>18/10/15 14:55:09</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;RightClickCopyWithAction.cleanup()[pri:0, instance:RightClickCopyWithAction@7a765367]">&lt;&lt;cleanup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@292917034</td>   <td></td> </tr>
<tr bgcolor="d176f7">  <td>18/10/15 14:55:00</td>   <td>-9706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RightClickCopyWithAction.login()[pri:0, instance:RightClickCopyWithAction@7a765367]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@292917034</td>   <td></td> </tr>
<tr bgcolor="d176f7">  <td>18/10/15 14:55:03</td>   <td>-6424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RightClickCopyWithAction.performRightClick()[pri:0, instance:RightClickCopyWithAction@7a765367]">performRightClick</td> 
  <td>main@292917034</td>   <td></td> </tr>
<tr bgcolor="d176f7">  <td>18/10/15 14:54:43</td>   <td>-26362</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RightClickCopyWithAction.setup()[pri:0, instance:RightClickCopyWithAction@7a765367]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@292917034</td>   <td></td> </tr>
</table>
